[2014-04-24 11:31] ovatsus opened #1 "Add to fsharp.org/community/projects/"

[2014-06-07 04:16] ctaggart opened #2 "protobuf-net mscorlib references cause warnings"
Froto.Roslyn is a .NET 4.5 project. Using the latest protobuf-net, version 2.0.0.668, for nuget, it adds the dll from `net40`. Unfortunately, it looks to be compiled for .NET 3.5.

![image](https://cloud.githubusercontent.com/assets/80104/3207714/ef297b62-edf9-11e3-99d3-256f769f6671.png)

Roslyn emit then complains about mscorlib 3.5 missing from my system.

If I switch to use the dll from the `ne

[2014-06-07 04:42] ctaggart opened #3 "F# type provider for .proto files"
I'm going to remove my first attempt at building the type provider prototype. It was a wrapper around Froto.Roslyn that I called Froto.Gen. Removing it for now.

[2015-07-19 20:01] kanekotic opened #4 "Feasible to port it to other languages"
Hi I saw your package the other day going around nuget. First of all I think is a Great Idea.

Maybe I am a bit confused on what you are trying to achive, let me know if I am far away from your concept. Are you trying to do the compilation or add support to F# of protocol buffers?.

I am interested in adding support for compilation for C# projects. On Proto files compilation I have done this work

[2015-09-03 22:49] james-kimchiman opened #5 "Can't open latest source code in Visual Studio 2015"
I pulled the lastest code from master branch, and opened the solution in VS 2015. All the projects appear unloaded, and when I try to reload them it does nothing. When I try to edit the csproj files via Solution Explorer, it complains "file is already opened by another project".

Any ideas?

[2016-01-03 19:36] jhugard opened #6 "Feature: Add support for Proto3 language"
Requesting simultaneous support for both proto2 and proto3 language syntax, selected via the new `syntax = "[proto2|proto3]";` statement.

https://developers.google.com/protocol-buffers/docs/reference/proto3-spec

As possible incentive, [the official C# generator for Proto3](https://developers.google.com/protocol-buffers/docs/reference/csharp-generated) does not ([and will not](https://groups.goog

[2016-01-05 18:07] jhugard commented on #5
The issue has to do with which .NET frameworks are installed on your development machine.  See the FSharpTargetsPath line in each fsproj file, e.g.:

    https://github.com/ctaggart/froto/blob/master/Core/Froto.Core.fsproj#L14

    `<FSharpTargetsPath>$(MSBuildExtensionsPath32)\..\Microsoft SDKs\F#\3.1\Framework\v4.0\Microsoft.FSharp.Targets</FSharpTargetsPath>`

In the above line, if you hand edi

[2016-01-16 06:02] ctaggart commented on #1
May be, if it gets much further along.

[2016-01-16 06:02] #1 closed

[2016-01-16 06:20] ctaggart commented on #5
I actually did a full blog on this last May.
http://blog.ctaggart.com/2015/05/importing-fsharptargets-compatible-with.html

[2016-01-16 06:28] #5 closed

[2016-01-16 06:46] ctaggart commented on #4
The original idea over 3 years ago was to create a parser for .proto files that could be used to generate code. After that, I generated the C# code for protobuf-net from a .proto file using early versions of Roslyn. I then tried to wrap some of that into a F# TypeProvider. I posted some blogs about it: http://blog.ctaggart.com/2012/11/parsing-protocol-buffers-proto-file-in-f.html?q=protobuf

Updat

[2016-01-16 06:49] ctaggart commented on #3
For now, this is out of scope. I'm going to generate code for v3 of Protocol Buffersvia F# AST code generation. See https://github.com/ctaggart/FsAst
#6

[2016-01-16 06:56] ctaggart commented on #2
This Froto project is going to take a new direction. Protocol Buffers v3 support C# code generation out of the box and it is supported via a `Google.Protobuf` library. I like their approach for the most part. The only thing I don't like is how they handle optional primitives. See #6. I don't plan to use `protobuf-net`.

[2016-01-16 06:56] #2 closed

[2016-01-16 07:12] ctaggart commented on #6
Why is it not possible to write self-describing services in .NET for Protocol Buffers v3? What do you mean by self-describing services? Do you mean code-first with attributes like:
https://github.com/mgravell/protobuf-net#1-first-decorate-your-classes

[2016-01-16 07:23] #4 closed

[2016-01-16 19:22] jhugard commented on #6
Have in mind to create a service registration protocol which allows a generic service to register it's FileDescriptorProto (or Set) at run-time, so that the service's metadata can be inspected as well as to provide transcoding from/to JSON, without recompiling the server being registered with.  That's what I meant by "self-describing services".

The official C# generator from Google will not gener

[2016-01-16 19:51] ctaggart commented on #6
I had to read up more about `custom options`. I have't used them, but they could be useful for altering the code generation. It looks to me like you can put custom options in a proto3 descriptor. Did I miss something?

https://developers.google.com/protocol-buffers/docs/proto#options
https://developers.google.com/protocol-buffers/docs/proto3#options
https://github.com/google/protobuf/blob/master/s

[2016-01-16 19:58] jhugard opened #8 "Request: Strict/complete proto2 compliance"
Froto appears to only parse a subset of the proto2 language, and allows a looser syntax.  Requesting the parser be tightened up to match the official protoc compiler: handle the complete syntax and produce errors in the same cases, in order to provide better compatibility.

* Support enum as a top-level construct (outside any message)
* Support "group" keyword in a message
* Support "one of" keywo

[2016-01-16 20:21] jhugard commented on #6
Hah.  What you missed is that while custom options can be _used_ in proto3, they require proto2 syntax to _define_ (custom options use the ```extend``` keyword, which is proto2 only).  Further, the Google C# code generator only supports generating proto3 constructs, so while it will recognize custom options, it will not generate code to access them. :P

[2016-01-20 18:27] ctaggart commented on #8
I'm totally open to contributions! In fact, I was just cleaning stuff up to tackle this. I'm glad to beat me to it.

[2016-01-21 00:09] ctaggart opened #11 "create froto.exe"
The idea is to create a `froto.exe` that is similar to `protoc.exe` in that it reads in a .proto file and generates source code. There may be a few different source code generators, including:

* Roslyn based C# generator for proto2 that generates code for protobuf-net.
* F# code generator via [FsAst](https://github.com/ctaggart/fsast) that support proto3 and builds on top of the Google.Protobuf l

[2016-01-22 16:32] jhugard commented on #11
What is the advantage of using FsAst for code generation over, say, just a bunch of printf statements?  Seems like the latter would create far less code noise and would be considerably easier to maintain...  Plus, you're already considering using Roslyn for run-time code generation (or for fueling a Type Provider).

I've seen one project which uses XSLT, but that suffers the same complexity proble

[2016-01-22 16:53] jhugard commented on #11
I get why you'd like to have a back-end to generate Proto.net code (from what I've heard, their proto-first solution is not straight-forward to use).

But, why add a dependency on Google.Protobuf?  What functionality does it bring that wouldn't be better to reimplement directly in F#?  Or, conversely, if someone is already using Google.Protobuf (and the associated C# compiler), why would they use

[2016-01-29 16:47] #6 closed

[2016-01-29 16:47] #8 closed

[2016-01-30 00:41] ctaggart opened #15 "froto.exe code generator for proto3"
I mentioned in #11 that I want  to create an F# code generator that supports proto3. I want to make use of F# Records and Options. For basic serialization, either `Google.Protbuf` library can be used or I can see if `Froto.Core` functions I created earlier will be enough. Similar to using `Roslyn` to generate C# code, I want to use the F# AST to generate F# code. I've made quite good progress on [

[2016-01-30 00:49] ctaggart opened #17 "froto.exe support for protobuf-net proto2 code generation"
Now that `froto.exe` has been created #11. We need to get the existing protobuf-net proto2 code generation working.

[2016-01-30 00:52] ctaggart commented on #11
I've created `froto.exe` and added it to a tools package. I reserved it in the NuGet Gallery, but hid the package that I uploaded.
https://www.nuget.org/packages/Froto

To use the NuGet feed from AppVeyor, just add:
https://ci.appveyor.com/nuget/ctaggart-froto

[2016-01-30 00:53] ctaggart commented on #11
I'm closing this issue. The purpose was to create the project structure, NuGet package, and register the NuGet. New issues like #15 & #17 will be for making it work. :-)

[2016-01-30 00:53] #11 closed

[2016-01-30 00:57] ctaggart commented on #17
@jhugard Would you like this issue?

[2016-02-01 16:32] jhugard opened #18 "Linux / mono build not working"
The Roslyn bits (and hence Exe) have a dependency on `Microsoft.CodeAnalysis.CSharp.Workspaces`, which in turn were built to target .NET 4.5.2.  However, mono / monodevelop don't (yet) appear to support that version so the build fails, even if those projects are set to target 4.5(.0).

Tried several ways to fix this up, but hit the limits of my Linux knowledge.

[2016-02-04 16:32] jhugard opened #19 "Improve support for serialization/deserialization"
Fix issues with Froto.Core.IO

* Restructure to handle deserialization
* Improve performance
* Reduce (or eliminate) making multiple copies of strings and byte strings
* Report errors on invalid encoding
* Handle big-endian architectures
* Unit test everything

The current Froto.Core.IO code, which does serialization/deserialization to/from the Protobuf Wire format, requires knowing the final data

[2016-02-04 16:41] jhugard commented on #19
Started work on the above, and have it largely done on the [refactor-and-complete-wireformat](https://github.com/ctaggart/froto/commits/refactor-and-complete-wireformat) branch.

This pushed this branch to github mainly for review of work-in-progress.  Final code should support serialization/deserialization from/to class-based objects, and form basis for generated code.

_Comments welcome!_

Still

[2016-02-04 16:45] jhugard commented on #17
I can take it eventually, but IMHO the C# object model should be fleshed-out and finished first, as well as getting the Roslyn code generation fully unit tested.  I'm not certain, but I think datatypes, such as sint32 and binary, are not properly handled.

Plus, my current need is to have .NET code which can deserailize binary proto2 FileDescriptorProto and FileDescriptorSet into objects to read o

[2016-02-08 02:24] jhugard commented on #19
Going to refactor the ZeroCopyBuffer to something much closer to [memoryTributory](http://www.cpawelzik.com/2013/11/avoid-outofmemoryexception-with-memorytributary).

The use case is avoiding memory copies when receiving multiple frames in a single websocket message. Using a stream would also afford the flexibility to serialize off the wire for stream-based protocols. Just need to figure out how t

[2016-02-08 19:23] ctaggart commented on #18
I'll have a look. Thank for reporting.

[2016-02-08 19:34] ctaggart commented on #19
I really like what I see so far! :+1:

[2016-02-17 07:33] jhugard commented on #19
Abandoned the move to something like MemoryTributory for now; too much work to ensure all the edge conditions are correct, lol.  Might make a good optimization later.

[2016-02-17 07:51] jhugard commented on #19
Added a bunch of code for Serialization (in Core/Serializer.fs), as well as a sample of a class which implements serialization (Froto.Core.Test/TestProto.fs).

  The code isn't 100% complete: it needs support for non-packed repeated fields and a few other things, there are no unit tests, and I have not even tested by hand.  **However, would very much like feedback on the overall direction before i

[2016-02-17 08:11] jhugard commented on #19
Should have done the above as another commit; I thought a forced commit would update the previous comment.  Just fixed an obvious bug (missing parens on Utility.tagLen).

[2016-02-17 19:00] jhugard commented on #19
Repeated field support added:

    type Test () =
        ...
        let mutable m_repeatedInt32 : int32 list = List.empty
            ...
            6, ref m_repeatedInt32  |> Serializer.hydrateRepeated Serializer.hydrateInt32
            ...
            m_repeatedInt32 |> Serializer.dehydrateRepeated Serializer.dehydrateVarint 6

[2016-02-17 20:30] ctaggart commented on #19
James, I would recommend just adding a PR where the title has `[WIP]` prefix while it is work in progress. That will make is easier to review and comment. Looks awesome!

[2016-02-18 05:18] jhugard commented on #19
Done :)

[2016-03-03 04:42] ctaggart commented on #19
PR #20 was merged and resolves this.

[2016-03-03 04:42] #19 closed

[2016-03-03 06:49] #18 closed

[2016-03-03 18:26] ctaggart commented on #17
This is very low priority and may even be dropped now that you've done so much work on `Froto.Core`.

[2016-03-03 18:38] ctaggart commented on #15
Thanks to @jhugard for revamping `Froto.Core` in #20, I'm going to generate code for it. I would love an example .proto and the code that should be generated for it, but I can probably figure that out.

[2016-03-04 03:42] jhugard commented on #15
Should (hopefully) easy to figure out, given the example in Froto.Core.Test/ExampleProtoClass.fs, but let me know if I should workup a .proto and equivalent .fs file.

Consider doing codegen for the Google descriptor.proto.  It uses proto2 features that the official Google C# code gen cannot reproduce, and therefore can't be used to write code which consumes compiled protobuf definitions.  Would m

[2016-03-04 04:49] jhugard commented on #15
In ExampleProtoClass.fs, I made a mistake in the capitalization-conversion of the "id" field: this should be Pascal Cased as "Id" and not "ID" (unless you want to make all 2 character identifiers ALL CAPS, which might be OK.

[2016-04-07 20:22] takemyoxygen opened #29 "publish Froto.Core NuGet package"
In the [Readme](https://github.com/ctaggart/froto/blob/master/readme.md) it's mentioned that Froto.Core package already exists, but I can't find it on NuGet. Am I missing something or it has been removed?

I'm interested in using this package since I've started working on a [type provider for Protocol Buffers](https://github.com/takemyoxygen/ProtoTypes). I use Froto.Parser already, but it would be

[2016-04-08 15:03] ctaggart commented on #29
Awesome! Feel free to contribute that here. I haven't published it yet the the NuGet Gallery. I will now (cc @jhugard). The prerelease builds are available from the AppVeyor feed. I should put that in the readme.

list of builds: https://ci.appveyor.com/project/ctaggart/froto/history
feed url: https://ci.appveyor.com/nuget/ctaggart-froto

[2016-04-08 15:27] ctaggart commented on #29
published
https://www.nuget.org/packages/Froto.Core/0.2.1
https://www.nuget.org/packages/Froto.Parser/0.2.1

fyi, this was the build log
https://ci.appveyor.com/project/ctaggart/froto/build/0.2.1

[2016-04-08 15:40] #29 closed

[2016-04-08 15:47] ctaggart commented on #3
@takemyoxygen mentioned in #29 that he has started working on a Type Provider. I would love to see it incorporated as part of froto. I'm happy to give commit access after a couple of pull requests.

https://github.com/takemyoxygen/ProtoTypes

We can discuss NuGet package names, but something like `Froto.TypeProvider` would be great.

[2016-04-08 15:53] ctaggart commented on #17
For now, closing this in favor of #15 which will use Froto.Core and #3 which will use Froto.Core.

[2016-04-08 15:53] #17 closed

[2016-04-08 16:19] ctaggart opened #30 "parser feature-parity with Google protoc"
- [ ] Load and parse files from import statements.
        See https://developers.google.com/protocol-buffers/docs/proto3#importing-definitions
  - [ ] Verify message identifiers used as field types are actually defined
        and enum values used in option value assignment are actually
        defined.  Note these must handle forward references.
  - [ ] For option assignment, verify type of lite

[2016-04-08 18:40] takemyoxygen commented on #29
Fantastic! Thanks a lot!

[2016-04-08 18:42] takemyoxygen commented on #3
I'd be happy to merge my repo into Froto. But first, I guess, I'll try to implement some very basic type provider based on Froto.Parser and Froto.Core, and then I'll create a PR to merge that.

[2016-04-26 14:16] tathanhdinh opened #33 "Dehydrating functions for unsigned arithmetic types"
Hello everyone,
Many thanks for this library, I just start trying to use it for my personal project. In the `Serializer` module, I observe that there are [`dehydrating functions`](https://github.com/ctaggart/froto/blob/master/Core/Serializer.fs#L203-L232) for only signed arithmetic types. So how can I encode unsigned types?

[2016-04-26 22:37] tathanhdinh opened #34 "Hydrating union type"
Since there is no tutorial of using `Froto` :(, I try to read some examples and source codes. Unfortunately, I still cannot figure out how to dehydrating/hydrating a `union type`. For example, given a message:
[code]
I observe that there is some functions like `dehydrateOptionalMessage` and `hydrateOptionalMessage`, so I guess that they are used to _serialize/deserialize_ an optional message. But

[2016-04-27 00:49] #34 closed

[2016-04-29 06:18] jhugard commented on #33
Can you please post a failing example, along with the compiler error (and reopen this issue)?  All the numeric dehydrate functions should work on any value that implements op_Explicit, which includes all unsigned numeric types (they get converted to uint64 before serialization).

[code]

[2016-04-29 06:18] #33 closed

[2016-05-06 10:56] tathanhdinh commented on #33
Many thanks @jhugard. I am very sorry, I have misunderstood the meaning of these functions (I thought that, e.g. `dehydrateDefaultedSInt32` is for encoding `int32`). But what is the difference between `int32` and a "signed" type `sint32`?

[2016-05-06 15:54] jhugard commented on #33
Signed Integer protobuf types encode small negative values in as little as one (1) byte, whereas regular integers always encode negative values in ten (10) bytes, regardless of value.  See the Google Protobuf encoding specification: https://developers.google.com/protocol-buffers/docs/encoding#signed-integers for more detail.

[2016-05-15 20:56] tathanhdinh opened #35 "message is not copied in result of `hydrateRepeated`"
I have a problem in using the function `hydrateRepeated` to deserialize `repeated` fields where fields are message themselves. Concretely, I have a `Chunk` message with a repeated field of `Instruction` message (the `protobuf` file can be referenced [here](https://github.com/tathanhdinh/ftools/blob/master/proto/trace_with_chunk.proto), to deserialize the messages, I have used [this code](https://g

[2016-05-19 16:05] jhugard commented on #35
Yup, looks like a bug & looks like your proposed fix should work.  Sloppy of me to not have unit tested this.  Feel free to add a test, update the code & send a pull request.  Will otherwise try to get to this in a couple of days...

On a note, I'm not entirely happy with this particular routine.  I had tried to eliminate construction of the throw-away ref object here by refactoring the entire lib

[2016-05-21 16:48] jhugard commented on #35
I've fixed the above & added a unit test, **but there is now an O(n^2) performance issue**.

While writing the unit tests, I noticed that repeated fields were not being kept in order (packed-repeated works, though).  **As a quick fix, hydrateRepeated does an append to the end of the list for every new element added.**

Not sure how to fix this long term without adding additional abstract methods t

[2016-05-21 17:56] #35 closed

[2016-05-21 18:14] jhugard opened #37 "O(n^2) Performance Problem on repeated fields"
According to the protobuf serialization specification, repeated fields need to be kept in-order.

As a quick fix for issue #35, the code was modified to append repeated fields to the end of the list.  **However, that introduced an O(n^2) performance problem in [hydrateOneRepeatedInstance](https://github.com/ctaggart/froto/blob/master/Core/Serializer.fs#L316)**.

Building the list in reverse order,

[2016-05-21 18:17] jhugard commented on #35
@tathanhdinh - please update your client code to rename ``hydrateRepeated`` to ``hydrateOneRepeatedInstance``.   Sorry for the inconvenience, but even I was confused at first, thinking that this function would deserialize the entire list of repeated objects (not just a single instance).

[2016-05-23 15:39] jhugard commented on #37
@ctaggart & @tathanhdinh: I'm working on a fix for this by redefining the contract to use ResizeArray.  At the same time, I also did a first pass at providing **Record** serialization (rather than Class serialization).

Turns out that idiomatic F# using Records is just slightly _faster_ than a more imperative approach.  I was shocked that the following produces code with reasonable performance:

[

[2016-05-23 15:49] jhugard commented on #37
@ctaggart @tathanhdinh:
Did a quick implementation using ResizeArray and at the same time took a crack at providing **Record** serailization/deserialization.

Turns out that idiomatic F# using Records is... just... slightly _faster_ than the Class implementation using ResizeArray!  I was shocked that the following decode logic performs very well:

[code]

So, I am considering dropping the Class AP

[2016-05-24 16:07] jhugard opened #38 "F# Record Serialization"
@ctaggart has requested the ability to serialize/deserialize F# Record types, rather than .NET Class Types.

[2016-05-24 16:08] jhugard commented on #38
Proposed protobuf serializable Record definition

[code]

[2016-05-26 04:36] ctaggart commented on #3
With Don tweeting about this, I see it got a whole bunch of attention.
https://twitter.com/dsyme/status/735247215086739457

@takemyoxygen Anything that you need from Froto.Core or Froto.Parser? I really like that @jhugard is looking at F# Record Serialization.

[2016-05-26 06:43] takemyoxygen commented on #3
@ctaggart I think I don't need anything for now.
Btw, I guess on the next week I'll start integrating it to Froto.

[2016-05-26 16:07] ctaggart commented on #38
This makes me really happy to see this!

[2016-06-14 05:48] jhugard commented on #37
Fixing this via implementing class serialization in terms of the record-serialization support, mainly as described above.

[2016-06-15 04:59] #37 closed

[2016-06-15 05:20] jhugard commented on #38
Fixed in #39

[2016-06-15 05:20] #38 closed

[2016-06-15 21:41] jhugard opened #41 "Parser functions are not discoverable"
The primary parser functions - which parse strings, streams, and files - are very hard to discover in the current namespaces:

Current names:
* `Froto.Parser.Proto.parseFile`
* `Froto.Parser.Proto.parseStream`
* `Froto.Parser.Proto.parseString`

Unfortunately, all the _internal_ parse functions _also_ live in `Froto.Parser.Proto`, making these primary functions very hard to discover.

Recommending

[2016-06-15 21:48] jhugard commented on #41
Further, the `Froto.Parser.Model` module should probably get renamed to `Froto.Parser.ClassModel`, to indicate it is not the _only_ means of representing a parsed protobuf file.  In fact, the primary means of parsing should probably be via a `Froto.Parser.Ast.PStatement list`, as returned by `Parse.fromFile`.

[2016-06-15 22:00] jhugard commented on #41
Note: the reason for these changes is that I went to use the NuGet package in a new project, and couldn't _myself_ figure out how to parse a file without looking at the source code!

[2016-06-15 22:23] #41 closed

[2016-06-26 15:48] takemyoxygen opened #43 "Build fails on OS X and Windows"
I'm trying to build Froto on OS X and Windows, but build fails on both platforms with different error messages:

### OS X 10.11.5 (Mono 4.4.0):

Sometimes it's
[code]

but sometimes unit tests target completes successfully and build fails on the next step with
[code]

With the latter I guess I know what might be the reason: if I try to create NuGet package manually by running:
[code]

I get the fo

[2016-06-28 18:33] takemyoxygen commented on #3
@ctaggart, I'd like to import initial version of the type provider into froto. I think it would make sense to merge it into a separate branch first, as there are still a lot of things to do there, and I'd prefer to do smaller PRs and more often. Could you create a separate branch for the type provider in this repository?

[2016-06-28 18:53] ctaggart commented on #3
@takemyoxygen You've been invited to collaborate. Creating a separate branch sounds good. Go for it!
https://github.com/ctaggart/froto/invitations

[2016-06-28 19:20] ctaggart commented on #43
Just seeing this. I'll have a look after work.

[2016-06-30 20:26] takemyoxygen opened #45 "Encoding of fixed and sfixed types"
It looks to me that there's some inconsistency in `Encode` module:
1. `Encode.fromFixed32` should take `uint32` value as a parameter rather than `int`, then it would match `Decode.toFixed32` which returns `uint32` already
2. `Encode.fromFixed64` should take `uint64` value as a parameter rather than `int`, then it would match `Decode.toFixed64` which returns `uint64` already
3. There's no function

[2016-07-01 06:19] takemyoxygen commented on #43
Some update: build fails for me OS X is because of some issue with `xunit.console.exe` on Mono, the same issue is mentioned [here in section 5](https://github.com/luau-project/luau-dotnet#testing). It does work on Travic CI though, my guess is that there's only one CPU core available there and in fact, there's no parallelization.

Tried changing to `Parallel = ParallelMode.NoParallelization`, look

[2016-07-01 15:54] ctaggart commented on #43
Thanks for the update @takemyoxygen. Sorry that I haven't been able to get to it yet. What was the error with the NuGet package creation?

[2016-07-01 16:05] jhugard commented on #45
I'll take a look this weekend.  I may have wanted some of those functions to be polymorphic across anything with member `op_Explicit`, but more likely you are right and that was inadvertently inherited from the underlying cast to `uint32` in `fromDefaultedFixedXX`.

[2016-07-01 18:47] takemyoxygen commented on #43
Error messages of both OS X and Windows build failures on NuGet step are in the description of the issue above:
* on OS X it can't find `.pdb` files (mono produces `.mdb` files instead of `.pdb`, so it's quite clear why it fails).
* on Windows, however, it's more interesting: it fails because FAKE cannot determine the version of `FParsec`. I'm not sure if this can be done with Paket, but with NuGe

[2016-07-02 06:42] jhugard commented on #45
@takemyoxygen - Yup, good find!
In addition, Encode.fromPackedFixed32/64 had the wrong type(s) and Encode.fromPackedSFixed32/64 were missing.  Adding these + fixing/extending/adding unit tests.

[2016-07-02 07:26] jhugard commented on #43
Merged.  Note, however, that the continuous-integration/travis-ci/pr build is still very flakey.  The unit tests are failing with a timeout; suspect that some test or tests are taking a long time when the Ci server is under load.

[2016-07-02 07:27] #43 closed

[2016-07-02 07:33] #45 closed

[2016-07-02 08:22] takemyoxygen commented on #45
@jhugard great, thanks!

[2016-07-02 19:14] jhugard opened #48 "Parser Improvements"
The parser currently correctly turns proto2 and proto3 into an AST, but does no further processing or semantic validation.

Proposed additions:

[ ] Process `import` statements
[ ] Flatten type names
[ ] Validate type usage
[ ] Resolve constants
[ ] Capture comments

*Process `import` statements*
Parser methods need to be enhanced with, e.g., a function parameter that can satisfy includes.  For Pa

[2016-07-02 19:24] jhugard commented on #48
Open question: does this belong in the Parser project?  Or, in a separate Compiler project?

[2016-07-04 16:22] jhugard opened #49 "F# Type Provider for .proto Files"
Create an F# Type Provider which reads .proto Files and produces classes for serializing and deserializing to protobuf wireformat.

This is being iterated on in branch [type-provider](https://github.com/ctaggart/froto/tree/type-provider).

**Non-goals**

 - Generation of `service` wrapper classes.
 - Importing from binary (compiled .proto) `FileDescriptorSet`.

[2016-07-04 16:23] jhugard commented on #3
Closing this issue in favor of starting fresh with #49.

[2016-07-04 16:23] #3 closed

[2016-08-01 01:57] xenocons opened #56 "Build Failure"
Both FAKE and msbuild directly fail to build the froto project from a fresh git clone due to a missing library.

### Resolution:
Add `nuget System.Collections.Immutable` to paket.dependencies.
Add `System.Collection.Immutable` to project Froto.Roslyn and Froto.Roslyn.Test.

[2016-08-01 02:04] xenocons opened #57 "Froto.Compiler Dependency"
It appears System.Reflection.Metadata is missing from the project references for Froto.Compiler, this package is available in nuget.

### Resolution
Update paket.dependencies to include `nuget System.Reflection.Metadata`
Update paket.references in Froto.Compiler to include `System.Reflection.Metadata`

[2016-08-01 05:54] ghost opened #58 "Compiler generates incorrect types for 'repeat'"
With the following `.proto`:

`message a { repeated string test = 1; }`

`Froto.Roslyn.ProtoGen.generate` returns the following:

[code]

It would be expected that the type of `test` is that of some sort of enumerable (perhaps array).

[2016-08-01 06:27] xenocons opened #59 "Example Autogen"
Hi,

Not really an issue... but I was wondering what library call was used to autogenerate https://github.com/ctaggart/froto/blob/master/Serialization.Test/ExampleProtoRecord.fs ?

[2016-08-01 14:01] jhugard commented on #59
Sorry if this was/is misleading: code generation is not yet implemented.  This definition, and similar ones, were hand crafted to help refine what generated code should look like and to allow development of support code for eventual code generation.

[2016-08-02 06:02] xenocons commented on #59
no worries! understand its a in progress thing!

[2016-08-02 06:02] #59 closed

[2016-08-02 18:36] takemyoxygen commented on #56
As far as I see, `System.Collections.Immutable` is both in `paket.lock` (so the package should be restored) and in both `Froto.Roslyn.fsproj` and `Froto.Roslyn.Tests.fsproj`, so there should be no need to reference this package explicitly in `paket.dependencies`.

Are you building on Windows or on Linux/OS X (which version of mono)?

[2016-08-02 18:38] takemyoxygen commented on #57
this package is referenced already in `Froto.Compiler.fsproj`

[2016-08-02 22:09] xenocons commented on #56
Ok, this is PEBKAC, the reason this error occurred (and https://github.com/ctaggart/froto/issues/57) was due to me having an incorrect order of running things (I was initialising packet with `paket.bootstrapper.exe && paket.exe update` as opposed to `paket.bootstrapper.exe && paket.exe restore`

This may seem obvious, but to me it was because I was looking at the directory, and not seeing the regu

[2016-08-02 22:09] #56 closed

[2016-08-02 22:10] xenocons commented on #57
As per above issue, this was due to missing the paket restore step in the initial build process (user error!), see #57 for more info.

[2016-08-02 22:10] #57 closed

[2016-08-19 22:24] ctaggart opened #60 "support grpc in parser"
Be able to parse grpc documents like https://github.com/googleapis/googleapis/blob/master/google/pubsub/v1/pubsub.proto

[code]

[2016-08-25 17:09] ctaggart commented on #60
gRPC made it to 1.0 a couple of days ago.
https://cloudplatform.googleblog.com/2016/08/gRPC-a-true-Internet-scale-RPC-framework-is-now-1-and-ready-for-production-deployments.html

[2016-08-26 16:03] jhugard commented on #60
The `service` and `rpc` keywords are both supported, as is the `option` keyword.

However, looks like the parser has several bugs:
* The `option` keyword on `rpc` is failing to parse correctly for a number of reasons, including that several parsers are missing the `option` literal and are otherwise broken
* The `option` syntax currently does not support the "optional" option syntax which handles i

[2016-08-26 17:11] ctaggart commented on #60
Thanks for the analysis @jhugard!

[2016-08-26 17:23] ctaggart commented on #49
@jhugard Feel free to tag a 0.4.0 if @takemyoxygen is ready to release the type provider. I'm on vacation for a week, but there is strong interest from my employer in looking at grpc and it could get me back more involved in this.

[2016-08-26 20:39] takemyoxygen commented on #49
@jhugard @ctaggart I think it's ready for the initial release. I'll also have a closer look at grpc to see if type provider can be of any help there.

[2016-10-04 16:14] #60 closed

[2016-10-05 14:36] ctaggart commented on #49
Publishing 0.4.0 today. Working on it right now.

[2016-10-05 14:36] #49 closed

[2016-10-11 06:51] jhugard commented on #48
@ctaggart @bhandfast @agbogomolov @takemyoxygen Starting to take a look at the current Parser, and I'm afraid adding the above functionality will involve either breaking the existing API in several ways, or mean these steps will require extending the API:

* Resolving `import` statements will require passing in a function which returns a string, stream, or file based on the import name.
  * Parsin

[2016-10-11 18:26] takemyoxygen commented on #48
@jhugard, I see the process as a sequence of two steps:
1. parsing + lexical analysis. I guess that's what  `ProtoFile.fromFile` does now.
2. semantic analysis: types usage validation, symbol lookup tables etc.

And then, results of the 2nd step can be used by code generator or the type provider.
So, it looks to me that second step should probably have a separate module.

The question is, is that

[2016-10-13 16:14] jhugard commented on #48
Starting to iterate on this in branch `parser-improvements-48`.

[2016-10-25 10:11] Schwem opened #66 "Parser crashs when working with Guid / - and default"
The following `.proto` (created with protobuf-net)

[code]

crashes with this message:

[code]

I try to parse it like this: `FSharpList<Ast.PStatement> s = Parse.fromString(proto);`

[2016-10-26 15:56] jhugard commented on #66
The GUID data type is a protobuf-net extension and not supported by the Google language spec, nor the protoc compiler.  Can you rename this issue to something like "Add support for protobuf-net GUID values"?

One work around would be to modify (hand-edit) the field from "bcl.Guid" to "binary" and encode the binary as a string; e.g., "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0".  I am fairly certain that thi

[2016-10-31 13:08] Schwem commented on #66
Thanks jhugard for your quick response.
We created a little parser only for our necessary types now.

So, should I close it or leave it open as new Task?

[2016-10-31 14:47] jhugard commented on #66
Go ahead and leave it open.

[2016-11-21 20:21] jhugard opened #67 "Produce Portable Class Library (PCL)"
None of the Froto libraries are Portable Class Libraries, so they cannot be included in other PCL projects.

It would be useful to, at minimum, produce Froto.Serialization as a PCL.

[2016-12-04 14:59] takemyoxygen commented on #67
Any particular platform you have in mind? Maybe switch to .NET Core?

[2017-01-09 17:20] ctaggart commented on #67
I plan to see about switching to .NET Core with the next release candidate of Visual Studio & .NET Core. The msbuild support was just too unstable last time I tried it out in late November.

[2017-01-13 22:47] jhugard commented on #67
@ctaggart Sounds great!  The lower the .NET Core version, the better, as the lower versions provide broader mapping to the various mobile-compatible profiles.

[2017-02-15 22:48] jhugard opened #68 "Need encoding support for required fields"
Functions in the Encode module assume that "0" or "default" values should be elided (not serialized).  However, in proto2, **required** fields must appear in the serialization stream, even if they have the default value.

Please add Encode module functions to support **required** fields.  **Encode.fromNondefaultedVarint** exists, but none of the other data types are supported.

[2017-02-16 01:57] ctaggart commented on #67
FYI, I tried out Visual Studio 2017 RC3 last week to see if it is ready. It is not. Need to wait for the next RC or RTM.

[2017-02-16 07:34] takemyoxygen commented on #67
@ctaggart, do you mean the IDE itself or .NET Core tooling? I use VS 2017 almost every day for C# development. Works more or less ok for me.

[2017-02-16 14:54] ctaggart commented on #67
@takemyoxygen My comments are regarding the F# tooling in VS 2017 RC3. Yes, C# is working well.

[2017-02-23 23:21] #68 closed

[2017-05-09 09:12] tjaskula opened #70 "Add support for DUs"
Hi, I didn't find any sample on that one, but would be nice to have serialization of Discriminated Unions

[2017-08-24 17:28] EHotwagner opened #71 "TypeProvider fails with "Specified method is not supported""
I am trying to use blizzards sc2 proto files provided here: https://github.com/Blizzard/s2client-proto
The first problem is the use of the not supported "import" statement. I concatenated the content of the files to fix this.

Then i got the following error in debug.proto:  "Specified method is not supported"
in this section:
[code]
Any ideas why and how to fix this?

[2017-08-25 15:14] jhugard commented on #71
I worked on the parser but never really looked at the TypeProvider.  `DebugGameState` is the only `enum` in that list so that may be a clue.  However, I'm not sure what's wrong because the generator does appear to support enum values in a oneof (see [here](https://github.com/ctaggart/froto/blob/master/TypeProvider/Generation/OneOf.fs#L18)).

Could you try adding an `unknown=0;` as the first member

[2017-08-25 15:45] jhugard commented on #71
@takemyoxygen could you add an `enum` to the oneof in `type_provider_test.proto ` and write a unit test?  Also might be useful to include the TypeProvider tests in the main Froto.sln.

[2017-08-25 16:00] takemyoxygen commented on #71
@jhugard, I'll try to have a look on the weekend

[2017-08-25 17:24] EHotwagner commented on #71
I will investigate further after the weekend. Thanks for taking a look.

[2017-08-26 04:38] jhugard commented on #71
@EHotwagner PR #65 could probably be merged as-is to provide `import` support to the parser, but it's not hooked into the TypeProvider yet.  I'd intended to do all of Issue #48 with that PR, but might be worth merging just for what it currently does.

[2017-08-29 09:28] ctaggart commented on #71
Sounds good @jhugard.

[2017-09-01 17:51] EHotwagner commented on #71
I did add `unknown=0;` with no effect. A basic proto file with only DebugCommand as a message and only DebugGameState in the oneof does work tough.

The error mesage i get is: "The type provider 'Froto.TypeProvider.ProtocolBuffersTypeProviderCreator' reported an error: Specified method is not supported."

Parse.fromFile genereates a nice Ast List tough. Is the roslyn example [example](https://gith

[2017-09-03 16:03] jhugard commented on #71
I would truly love to see you successful with F# and SC2: both are close to my heart.  However, to be honest, while Froto may be useful for some base cases it still needs some attention to get it finished it up.

Froto has three approaches from three different authors: the TypeProvider, Roslyn code gen, and a model for source gen of either [records](https://github.com/ctaggart/froto/blob/master/Se

[2017-09-04 17:16] EHotwagner commented on #71
Thanks a lot. This gives me enough points to start from.

[2017-09-05 19:23] takemyoxygen commented on #71
@EHotwagner, @jhugard, I hope #72 should fix the `NotSupported` error. I tried to use the type provider with the proto from https://github.com/Blizzard/s2client-proto (compiled in one file, with `syntax`, `package` and `import` directives removed) and it worked fine. It still requires some work to implement `import` in the type provider.

[2017-09-05 21:10] EHotwagner commented on #71
Great. Thx a lot.

[2017-09-05 21:10] #71 closed

[2017-09-10 13:05] haf commented on #30
Ref https://github.com/grpc/grpc/pull/12471 – would be nice to avoid C# code generation in the F# example.

[2017-12-17 00:09] ctaggart opened #73 "migrate to .NET Core project files"
I'm going to move the project files over to .NET Core projects. I'll keep the targets the same. We can then discuss what should be .NET Standard.

[2017-12-17 00:10] ctaggart commented on #67
I'm going to make migrate to the .NET Core project tooling #73. We can then decide what we wish to target for .NET Standard in a separate issue.

[2017-12-17 00:10] #67 closed

[2017-12-18 03:08] ctaggart opened #75 "TypeProvider.Tests failing to build on travis-ci"
travis ci failing to build TypeProvider.Tests

https://github.com/ctaggart/froto/pull/74

[2017-12-19 15:50] #73 closed

[2017-12-19 16:40] ctaggart opened #76 "target .NET Standard 2.0"
Now that we are using .NET Core project files #73, thoughts on targeting .NET Standard 2.0 instead of `net45`? cc @jhugard @takemyoxygen

.NET Standard Versions
- https://github.com/dotnet/standard/blob/master/docs/versions.md
- https://blogs.msdn.microsoft.com/dotnet/2017/11/15/announcing-f-support-for-net-core-and-net-standard-projects-in-visual-studio/
- https://blogs.msdn.microsoft.com/dotnet/

[2017-12-20 13:05] takemyoxygen commented on #75
@ctaggart I hope I will have some time in the coming week to have a look at the failed build.

[2017-12-20 13:37] ctaggart commented on #75
I woke up this morning thinking we may be able to use dotnet on Travis if that helps instead of Mono, unless we want to test for Mono compatibility of course.

[2017-12-21 17:47] ctaggart opened #77 "Span<T>"
https://twitter.com/funcOfJoe/status/943671450677927936

https://twitter.com/khellang/status/943778553111433216

cc @jhugard

[2017-12-25 19:25] ctaggart commented on #76
See #78 where I made it so Froto.Parser & Froto.Serialization target netstandard2.0.

For the TypeProvider, I'd [wait for this in 2018](https://medium.com/@_cartermp/reflecting-on-f-in-2017-5ac67fb138ff):

  Finalizing Type Providers as .NET Standard 2.0 components.

[2017-12-25 19:31] ctaggart commented on #75
As of #76, I've replaced mono with dotnet. In #74, Travis is not building the TypeProvider or its tests.  In #74, I recommended that we wait for TypeProviders to support .NETStandard.

[2017-12-25 19:31] #75 closed

[2017-12-25 22:30] ctaggart commented on #76
It looks like something may be doable after 15.6 ships. https://github.com/Microsoft/visualfsharp/pull/3864

F# Tooling RFC FST-1003 - Loading Type Provider Design-Time Components into F# Tooling
https://github.com/fsharp/fslang-design/blob/master/tooling/FST-1003-loading-type-provider-design-time-components.md

[2017-12-25 22:34] ctaggart commented on #76
@takemyoxygen I'm not sure you up for it, but the ProvidedTypes from the TypeProviders SDK have changed a lot. I created a script to update to the latest #79, but it results in several errors.

[2017-12-26 07:27] takemyoxygen commented on #76
@ctaggart I'll try to find some time to look at them this week.
So, now ProvidedTypes files are not managed by paket anymore?

[2017-12-26 14:58] ctaggart commented on #76
@takemyoxygen, correct, I just committed them to the repository. paket is only used to download FAKE right now. I'm just `PackageReference`s that are built in to the new dotnet core project files instead of paket.

[2018-04-03 12:57] 7sharp9 commented on #15
Hi, I wondered what the current status is for fort.exe, does it currently generate and F# code?  If so is it using the AST or roslyn etc?

[2018-04-03 14:00] ctaggart commented on #15
@7sharp9 It doesn't exist yet. In my last three commercial projects, I've used https://grpc.io/docs/quickstart/csharp.html. It would be nice to have this Froto based generator. There has just never been a great way to generate F# code. ts2fable uses strings.

[2018-04-03 16:42] 7sharp9 commented on #15
Its crazy there no real code generation available from F#.  I think the closest tacky way of doing it is by using the untyped ast via quotations, and then serializing them back to code files.

[2018-04-03 16:48] ctaggart commented on #15
Yes, that is the direction I was going with https://github.com/ctaggart/FsAst a couple of years ago

[2018-04-05 18:07] 7sharp9 commented on #15
So the plugin for proto3 would have to take a `CodeGeneratorRequest` port and produce a `CodeGeneratorResponse` as detailed here: https://developers.google.com/protocol-buffers/docs/reference/cpp/google.protobuf.compiler.plugin.pb

[2018-04-05 18:12] ctaggart commented on #15
Sure, that is if you want to make it a plugin for protoc where protoc reads in the .proto files. But Froto.Parser supports reading proto files, so you can skip making it a plugin.

[2018-04-05 18:15] 7sharp9 commented on #15
Yeah I mean it is easier to not implement it like that but Im thinking more in terms of a wider ecosystem, say your downstream clients are iOS and you want a swift definition generating.  You would have to do `Froto.exe blah.proto` for F# then `protoc --swift_out=.  blah.proto` for Swift

[2018-04-05 18:26] 7sharp9 commented on #15
Yeah Im planning on just generating F# code.  Interesting to use the dotnet tool extension, i don't suppose it matters as long as the downstream systems have a way to generate the code for their language anyway.  I'll see what I can come up with maybe this can be a PR later on...

[2018-04-09 12:08] 7sharp9 opened #82 "Are there any plans for a proto3 canonical json serialization?"

[2018-04-09 14:07] ctaggart commented on #82
No, not currently

[2018-04-09 16:20] 7sharp9 opened #83 "Are the methods mentioned in Serialization.fs currently consumed anywhere in code?"
https://github.com/ctaggart/froto/blob/ba4d5e506e1be6105dc6746a08a1d6714793e8fe/Serialization/Serialization.fs#L24-L29

Im quickly trying to find usages but can't find any references in the core code?

[2018-04-09 16:45] 7sharp9 commented on #83
Doesn't matter, I searched GitHub without observing the lowercase versions in the same file.

[2018-04-09 16:45] #83 closed

[2018-04-10 05:42] jhugard commented on #15
@7sharp9 My interest in Froto was to prove out some ideas for possible use with Unity that needed support for proto2 & proto3 both.

Time got short and I figured it might be faster to write the F# codegen in golang, leveraging the parser and validation in protoc, than it would be to write the rest of a compiler for Froto.  I finished out just enough of an (unpublished) prototype to create record-b

[2018-04-10 10:48] 7sharp9 opened #84 "UnknownFields in the serializer seems to be unused, can this be removed or is it unimplemented?"

[2018-04-10 15:02] jhugard commented on #84
Not using the UnknownFields list in the Serializer tests was an oversight.  The intention with this list is to allow pass-thru of fields that were added after the code was written, in order to survive protocol evolution.

So, the deserializer will record such fields on UnknownFields, then the generated serializer should be written to reintroduce those fields to the binary output, preserving the co

[2018-04-10 15:25] 7sharp9 commented on #84
So all the unknowns are at the end of the stream, ok.

Im not sure when yet, but I could add this to the records serialization test and serialization.fs file at some point.

[2018-04-10 15:56] 7sharp9 commented on #84
Its a pity that found and unknown fields have to be part of the record definition it makes the construction of the port record a little more tedious:

e.g. It would be nice to not have `_unknownFields` and `_foundFields` I suppose theres no way around this with the record implementation in F#.

[code]

[2018-04-10 15:59] jhugard commented on #84
Cool.  See the [proto3](https://developers.google.com/protocol-buffers/docs/proto3#unknowns) and [proto2](https://developers.google.com/protocol-buffers/docs/proto#updating) language guides for notes about handling unknown fields.

Also note that while the example Serializer code does preserve order of repeated fields, it does not preserve order between different fields: it always writes in the or

[2018-04-10 16:05] jhugard commented on #84
You could also use Default, which allows the record to be expanded later without necessitating code changes (the new fields would use defaults).  But then the compiler won't point out these cases, either:

[code]

[2018-04-10 16:09] jhugard commented on #84
Well, if your codegen had an option to generate `proto3` specific serdes, then you _could_ drop both: preserving unknown fields isn't mandatory for proto3, and proto3 does not support the `required` keyword, so `_foundFields` isn't needed.

[2018-04-10 17:11] jhugard commented on #84
Update: the ExampleProtoRecord.fs _does_ include serialization of unknown fields.  See [here](https://github.com/ctaggart/froto/blob/bd78b5aa4b0f3dee51199dcdfe221eb7daa622b1/Serialization.Test/ExampleProtoRecord.fs#L43) (I thought I had an example of that).

[2018-04-10 17:46] 7sharp9 commented on #84
Yeah I did write the copy and update method with the record, it just feels a bit clunky thats all.

Im only really interested in the proto3 version to be honest, I think one of the C# implementations dropped all the proto2 parts for simplicity.

Im trying to thinks of a way of removing the SRTP constraints so that the RememberFound, FoundFields and UnknownFields are no longer required in the recor

[2018-04-10 18:11] 7sharp9 commented on #84
I wonder if I could add a proto3 specific module for the serialization of proto3 only, i.e. remove the constraints.  Alternatively the constrains could just be proto2/proto3 interfaces that could be used rather then SRTP constraints.

That way I could generate serialize/deserialize  that were more compact and made just for proto3.  Im just thinking out loud really as I can do all this in my form b

[2018-04-11 04:05] jhugard commented on #84
Proto3 files should/must have `syntax=proto3;` near the start of the file and I'm certain I record this as part of the AST.  You could gate codegen based on this to either provide UnknownFields (and Required Fields) support, or not, based on that flag.

[2018-04-11 08:57] 7sharp9 commented on #84
ok, let me put something together.

[2018-04-18 08:48] 7sharp9 commented on #84
Technically proto2 messages can be constructed with no UnknownFields as there is no constraint to require this, its entirely up to the implementor or codegen.

[2018-04-18 09:34] 7sharp9 commented on #84
So the serializer method would have to change to something like this  to enforce it:
[code]

[2018-04-18 14:11] jhugard commented on #84
Fixed in commit ca65a0f6974b4ee9e4f0c143e620428f6b9e7e82

[2018-04-18 14:11] #84 closed

[2018-04-18 14:14] jhugard opened #86 "Proto2 required fields are not properly serialized"
Proto2 mandates that required fields always appear in the serialized output, even when they match the default value.  Not doing so will cause an error when interoperating with other implementations.

[2018-04-19 15:27] jhugard commented on #77
Nice replacement for ArraySegment with vastly superior utility - plays nice with all container types and enumerators.  Could consider moving ZeroCopyBuffer, et al. to this, but that will break compat with older versions of mono, Unity and CLR.

[2018-04-27 10:27] 7sharp9 commented on #15
@ctaggart I expanded on FsAst/froto/providedtypes and seem to be making some decent progress

[2018-05-03 13:02] 7sharp9 opened #87 "Would it be possible to get a 0.51 nuget release of the parser and serializer?"

[2018-05-08 15:37] jhugard commented on #87
@7sharp9 Releases are usually published by @ctaggart, but if it's as simple as creating a release tag on GitHub, I'll try to get to it shortly...

[2018-05-08 16:14] ctaggart commented on #87
I can publish it today and write down instructions

[2018-05-09 11:17] 7sharp9 commented on #87
That would be great!

Thanks!

[2018-05-09 14:00] ctaggart commented on #87
Okay, doing this now

[2018-05-09 15:05] 7sharp9 opened #88 "Proto3 oneOf type does not parse"
The following definition results in a parse failure:

[code]

[code]

[2018-05-09 15:35] jhugard commented on #88
The oneof itself parses in isolation; i.e., the `pOneOf` parser works.  Looking into why the above fails.

[2018-05-09 15:41] jhugard commented on #88
Nix that - wrote a bad test (copypasta).  Proto2 works, but Proto3 fails.  Digging.

[2018-05-09 15:44] ctaggart commented on #87
It looks like #85 is new work, so I'm going to tag a `0.6.0`

[2018-05-09 15:52] ctaggart commented on #87
The process is really simple. I just created a `0.6.0` release on GitHub. I then close the related milestone milestone. The new tag triggers a new version. I log in to AppVeyor and click the `deploy` link and select `NuGet Gallery`

![image](https://user-images.githubusercontent.com/80104/39825326-205e791c-5377-11e8-9ee4-cca73417b963.png)

[2018-05-09 15:56] jhugard commented on #88
Sorry, can't finish debugging this right now but I do have a failing unit test.  Will take a deeper look when I can.

[2018-05-10 20:06] jhugard commented on #87
Looks like I don't have deploy (or build) rights on AppVeyor for this.  Would you mind also deploying the 0.6.1 release?

[2018-05-12 19:51] cician commented on #76
Any chance it'll be worked on in the near future? I'd like to use Froto in .net core. I can use type providers from FSharp.Data just fine in .Net Core 2.1+VSCode&Ionide, but not Froto.

Thanks.

[2018-05-12 22:17] 7sharp9 commented on #76
I’m actively using Froto in terms of the parser and serialiser but I have
completely abandoned any use of type providers as they are too looking
limiting in their use.  Instead I am using precode generation to produce F#
record types and their associate serialise and deserialiser functions for
proto3.

On Sat, 12 May 2018 at 20:51, Maciej Kacper Jagiełło <
notifications@github.com> wrote:

[2018-05-13 16:52] cician commented on #76
I tried updating the TypeProviders SDK files (someone please explain to me why these cannot just be a nuget package). I was able to make it at least compile as a netstandard library with a few adjustments, but there's more work to be done to make it work in .net core, but I can't figure out exactly what needs to be changed in project structure and packaging. The fsharp compiler still complains it

[2018-05-13 17:37] cician commented on #76
completely abandoned any use of type providers as they are too looking
limiting in their use.  Instead I am using precode generation to produce F#
record types and their associate serialise and deserialiser functions for
proto3.

TypeProviders look pretty powerful to me, but kinda obscure and overly complicated to implement. Also having source code to inspect and eventually modify have its advanta

[2018-05-13 18:35] 7sharp9 commented on #76
It’s integrated as a prebuilt step or just by running the generator tool
pointing to a proto file.  For me personally type providers have too many
limitations, for example they cannot generate and F# specific types and
they are often pretty awful to debug as they are so integrated into an IDE.

On Sun, 13 May 2018 at 18:37, Maciej Kacper Jagiełło <
notifications@github.com> wrote:

[2018-05-14 09:26] 7sharp9 commented on #76
@ctaggart As a note I extended the AST generation that you started and augmented it with somewhat, Im now using the provided types from this repo with some heavy modifications to generate record type with proto3 serialize/Deserialize functions.

[2018-05-22 15:33] ctaggart commented on #87
@7sharp9 Do you have a AppVeyor account with that email address? I think that is what this error means:

![image](https://user-images.githubusercontent.com/80104/40372947-cae5f982-5db3-11e8-8e7b-0b7f692ff6b9.png)

[2018-05-22 15:47] jhugard commented on #87
Mine should be jayhugard@hotmail.com (just checked).

[2018-05-23 14:50] panesofglass commented on #15
@7sharp9 how's it going with the code generation? I was just thinking (again) of using this.

[2018-05-25 17:09] 7sharp9 commented on #87
@ctaggart I thought thats what I created it with, let me check ...

[2018-05-25 17:11] 7sharp9 commented on #87
I think my GitHub auth had been revoked for some reason, it looks  to be set up now.

[2018-05-25 17:29] 7sharp9 commented on #15
@panesofglass Its going ok albeit little slowly.

To be honest Im completely abusing the type provider code from froto and `providedtypes.f`s to produce F# source code rather than injected IL.

I currently have the capability to generate F# records from proto definitions with static and instance methods built from the quotations from froto.  I have started modifying quite a few of them as the srtp

[2018-05-27 23:26] ctaggart commented on #87
@7sharp9 I'm still getting the same error when I try to add `kukulcanenator@gmail.com` as a collaborator.

[2018-05-28 08:57] 7sharp9 commented on #87
Hmm I dunno, maybe googlemail vs gmail?

On Mon, 28 May 2018 at 00:26, Cameron Taggart <notifications@github.com>
wrote:

[2018-05-28 12:41] ctaggart commented on #87
What does it say at https://ci.appveyor.com/profile ?

![image](https://user-images.githubusercontent.com/80104/40614932-5dec7ab8-624a-11e8-8df0-9362c8eb067c.png)

[2018-05-29 10:43] 7sharp9 commented on #87
![screen shot 2018-05-29 at 11 42 52](https://user-images.githubusercontent.com/588746/40654186-75a19648-6335-11e8-8816-90ed69476f66.png)

[2018-05-29 15:23] ctaggart commented on #87
@7sharp9 adding `kukulcanenator@googlemail.com` worked

[2018-06-08 09:50] Karamell commented on #66
I managed to decode a DateTime and a Guid from Protobuf.net. If anyone is interested I could try and convert the code to fit Froto.

[2018-06-29 19:08] ctaggart commented on #77
Introducing .NET Core 2.1 Flagship Types: Span T and Memory T
https://www.codemag.com/Article/1807051/Introducing-.NET-Core-2.1-Flagship-Types-Span-T-and-Memory-T

[2018-06-29 19:11] #87 closed

[2018-06-29 19:18] ctaggart opened #90 "gRPC on top of ASP.NET Core 3.0"
https://github.com/aspnet/Announcements/issues/307
HTTP/2 in Kestrel & HttpClient
The title says it all in this case. HTTP/2 support for all. We started this work some time ago, and have had the protocol mostly implemented for a while but not compiled into the product since it wasn't ready. This version we will finish that work and implement the missing features.

My understanding is that gRPC is

[2018-06-29 19:20] #82 closed

[2018-07-02 12:54] 7sharp9 commented on #70
I don't think this is in scope for froto as it stands.  Im also assuming you mean oneOf types.  I have a custom solution to this where the code from froto.parser/serialiser is used with a custom code generator to produce F# record/unions.  Its doubtful I could fold this back into this solution as it uses parse tree generation rather than the .Net 1 era generation of type providers which is pretty

[2018-07-02 16:20] ctaggart commented on #70
@7sharp9 I have a renewed interest in actually making a `froto` .NET global tool that can do the code generation #15, especially if it will lead to gRPC generation eventually #90. I think we may have to boot the type provider code back out if it is not going to be maintained #76. It would be nice if it was maintained, but I'm not interested in it personally. cc @takemyoxygen

[2018-07-02 18:46] takemyoxygen commented on #70
@ctaggart I still hope I will work on the type provider improvements at some point but it's not my priority at the moment. I guess, extracting the type provider back into a separate repository is the best way to go -  you will be able to focus on code generation and maybe at some point I will catch up with the type provider.

[2018-07-03 01:28] ctaggart commented on #70
@takemyoxygen Or just add it back here when you have time. I'm fine either way.

[2018-07-03 11:59] 7sharp9 commented on #70
@ctaggart Thats actually what I did, except Im using froto.parser to parse the proto3 file, then using proto.serializer along with quite a lot of the type provider code.  Some of it is heavily modified, I also added DU generation for the oneOf fields.

The big difference is Im not using any of the type provider mechanism just the provided type structure and quotations as a basis of creating an ast

[2018-07-03 14:09] ctaggart commented on #70
@7sharp9 Yes, that is what I want. Any chance you are going to add a PR with that work?

[2018-07-03 14:32] 7sharp9 commented on #70
@ctaggart Its been talked about, I would like to rework more of the quotation parts as they struggle with representing F# without loosing too much information, like infix/prefix on operator calls and also no pattern matching as its removed by the quotation translator.

[2018-07-09 20:48] ctaggart commented on #77
System.IO.Pipelines: High performance IO in .NET
https://blogs.msdn.microsoft.com/dotnet/2018/07/09/system-io-pipelines-high-performance-io-in-net/

[2018-07-10 02:57] jhugard commented on #77
Sweet!  Shouldn't be too hard to replace `ZeroCopyBuffer` with `PipeReader` + `PipeWriter` and get far better buffer control (and probably better performance).

Note, though, that [Unity has problems with SignelR on iOS](https://forum.unity.com/threads/net-standard.451314/).  No idea if this carries over to `System.IO.Pipelines`.  Note also that `await` support is required, so older Unity would be

[2018-07-26 03:56] ctaggart commented on #90
Well, looks like someone else had the same idea. Happy to see that I may not have to do the work:

https://twitter.com/davidfowl/status/1020870675135750145

https://github.com/grpc/grpc/issues/15139#issuecomment-406806574

[2018-08-15 14:58] 7sharp9 opened #91 "Add interface implementation of IMessage to Froto.Serialiation to make code gen have less dependencies"
[code]

Currently when you are generating code you have to make a dependency on Froto.serialization which if fine, its the serialization lib after all, but then you also have to include Froto.codec too as you have to have a concrete interface or rely completly on SRTP which is not always easy and gets rapidly more complex if you have to add reflection into that mix.  Having the interface as a hard

[2018-08-15 15:01] 7sharp9 commented on #91
Basically this: https://github.com/ctaggart/froto/blob/ba4d5e506e1be6105dc6746a08a1d6714793e8fe/TypeProvider/Core/Message.fs#L10

Becomes an interface defined in Froto.Serialzation

[2018-08-15 15:02] 7sharp9 commented on #91
The Message implementation can still live in `froto/TypeProvider/Core/Message.fs` just it implements the interface, then other code generators have a point or reference implementation.

[2018-08-29 13:08] 7sharp9 commented on #91
Any thoughts @ctaggart / @jhugard

[2018-08-29 13:09] 7sharp9 commented on #91
Basically I just want that interface in the first comment to be defined here.

[2018-08-29 13:11] 7sharp9 commented on #70
Pretty soon the `oneOf` code will be open source but its entirely a code generator rather than a type provider, it shares a similar implementation, I used the type provider code as reference but changed a lot of it and added further pieces to it.

[2018-08-31 00:53] ctaggart commented on #70
I like code generators. Looking forward to seeing it.

[2018-08-31 12:57] jhugard commented on #91
Sounds quite reasonable.  Should IMessage also define a `WriteTo`?

[2018-08-31 20:37] 7sharp9 commented on #91
The interface I suggested was based on what's implied via the srtp method
constraints.

On Fri, 31 Aug 2018 13:57 James Hugard, <notifications@github.com> wrote:

[2018-09-28 11:12] 7sharp9 commented on #48
So, are import statements currently processed, or was then never completed?
cc @jhugard @ctaggart

[2018-09-28 14:52] ctaggart commented on #48
I don't remember. Since you are asking, I'm guessing not. I'll help clean up these projects you are using soon.

[2018-09-29 15:38] jhugard commented on #48
I think I had it working on this branch:
https://github.com/ctaggart/froto/compare/parser-improvements-48

May have been holding the branch open to implement the other items on the list above, but you'll need to look over the code to be sure...

[2018-09-29 17:38] ctaggart commented on #48
@7sharp9 I've reopened #65 and changed the title for review.

[2018-10-04 17:17] kevmal opened #93 "Enum in message body error"
This sample from the proto3 user guide,

[code]

Fails with error

[code]

[2018-10-04 17:19] kevmal opened #94 "Allow identifiers to start with underscore"
As titled. This
[code]
Should be valid.

[2018-10-05 09:15] 7sharp9 commented on #93
I should be able to look into this.

[2018-10-06 16:40] jhugard commented on #93
Take a look at Parser.fs:485… probably just need to move the pField parser in to the end of the list.  I’ll also try to look into this shortly…

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Dave Thomas <notifications@github.com>
Sent: Friday, October 5, 2018 2:15:36 AM
To: ctaggart/froto
Cc: Subscribed
Subject: Re: [ctaggart/

[2018-10-08 09:59] 7sharp9 opened #95 "SourceLink seems to fail while building"
Issue is already logged elsewhere:
https://github.com/dotnet/sourcelink/issues/179
https://github.com/dotnet/sourcelink/issues/155

[code]

[2018-10-08 16:52] ctaggart commented on #95
@7sharp9 You are trying to build with mono?

[2018-10-09 08:31] 7sharp9 commented on #95
Building with Rider

On Mon, 8 Oct 2018 at 17:52, Cameron Taggart <notifications@github.com>
wrote:

[2018-10-10 00:34] ctaggart commented on #90
Kestrel added http2 response trailers 4 days ago on 10/5. It will be in 2.2.0-preview3

https://github.com/aspnet/KestrelHttpServer/issues/622
https://github.com/aspnet/KestrelHttpServer/commits/release/2.2
2018-10-05 daf6e1e Http/2 response trailers

Learning About The Headers Used for gRPC over HTTP/2
https://apievangelist.com/2018/02/05/headers-used-for-grpc-over-http2/

[2018-10-11 14:10] ctaggart commented on #95
Accepting PRs with a workaround: https://github.com/enricosada/falanx/commit/d525c2ef6cc1d13fc405990864e6a254d06400b7

Although I'd prefer to just wait until it is fixed Microsoft.SourceLink.Git. They are working on it.

[2018-10-11 14:14] ctaggart commented on #15
The code generator is under active development at:
https://github.com/jet/falanx

[2018-10-18 19:37] 7sharp9 opened #97 "position in ProtoField are defined differently"
[code]

position here is defined as in in32, elsewhere the position is declared as a FieldNum which is an uint32:

[code]

Proto actually declares the numbering as a uint16 beginning at 1.

[2018-10-23 20:07] ctaggart opened #98 "gRPC on Alpine docker requires libc6-compat"
This is just a self-reminder that when using alpine based images with the Google gRPC libraries, you need to add this dependency:

[code]

https://github.com/grpc/grpc/issues/15605#issuecomment-393974529

[2018-10-23 20:07] #98 closed

[2018-10-25 10:30] dsyme opened #99 "Make TP work with .NET Core tooling"
Just recording an issue that the type provider can now be updated to work with .NET Core tooling

The template for type providers is the best guide for the structure to use, for both project and package layout, https://github.com/fsprojects/FSharp.TypeProviders.SDK#the-f-type-provider-sdk

    dotnet new -i FSharp.TypeProviders.Templates
    dotnet new typeprovider -n LemonadeProvider -lang F#

[2018-10-26 18:06] ctaggart commented on #99
Thanks @dsyme. So [jet/falanx](https://github.com/jet/falanx) is a code generator that uses Froto.Parser to generate code that uses Froto.Serialization. I had the chance to look through the code earlier this week and it is my understanding that a type provider is being [used internally](https://github.com/jet/falanx/blob/master/Falanx.Proto.Generator/CreateProto.fs#L19) internally. Some questions

[2019-03-15 13:54] ctaggart commented on #90
An Early Look at gRPC and ASP.NET Core 3.0
2019-02-26 by @stevejgordon
https://www.stevejgordon.co.uk/early-look-at-grpc-using-aspnet-core-3

[2019-03-15 14:05] ctaggart commented on #90
It is pretty great to see .NET engineers I've working with who are now at Microsoft and Google working on this together. Here they are working on the performance of the protobuf library: https://twitter.com/davidfowl/status/1106061725730668544

[2019-03-19 23:08] #95 closed

[2019-03-21 05:05] jhugard commented on #94
According to the [proto2](https://developers.google.com/protocol-buffers/docs/reference/proto2-spec) and [proto3 language specifications](https://developers.google.com/protocol-buffers/docs/reference/proto3-spec), identifiers (`ident`) must start with a letter, optionally followed by one or more letters, digits, or underscores.  A leading underscore is not a valid identifier.

[2019-03-21 05:05] #94 closed

[2019-08-12 08:11] vilinski opened #106 "PulsarApi.proto"
Getting error with the file [PulsarApi.proto](https://github.com/apache/pulsar/blob/master/pulsar-common/src/main/proto/PulsarApi.proto):

[code]
Looks nothing suspect for me on this place:

[code]

[2019-08-13 18:00] jhugard commented on #106
Haven't worked this code in forever, but I think the root cause has to do with the core parsing for messages: something was consuming a token and leaving the parser in a bad state.

Can you try this patch in Parser.fs?

[code]

[2019-08-13 18:47] jhugard commented on #93
The previous fix was a band-aid that would break in other ways.  @kevmal, can you please try PR #107?

[2019-08-16 16:30] #15 closed

[2019-08-16 17:48] #90 closed

[2019-08-16 17:50] #58 closed

[2019-08-16 17:52] ctaggart commented on #99
Fixed by @takemyoxygen in #102 and is on `master`.

[2019-08-16 17:52] #99 closed

[2019-08-16 21:05] ctaggart opened #110 "need stable CI builds on master"
I was expecting `0.7.1` to be built from master after merging #108 , but https://github.com/AArnott/Nerdbank.GitVersioning/issues/375

[2019-08-16 21:06] ctaggart commented on #110
CI builds are being published to https://www.myget.org/feed/Packages/froto
cc @jhugard @takemyoxygen

[2019-08-18 10:44] ctaggart commented on #93
I'll be pushing 0.7.x to NuGet soon. Please reopen if this is still an issue.

[2019-08-18 10:44] #93 closed

[2019-08-18 11:08] ctaggart commented on #110
Fixed by #113

0.7.2 is now in the NuGet Gallery.
@takemyoxygen, looks like https://www.nuget.org/packages/Froto.TypeProvider.DesignTime is new.

[2019-08-18 20:46] takemyoxygen commented on #110
@ctaggart I don't think `Froto.TypeProvider.DesignTime` needs a separate package. `Runtime` and `DesignTime` assemblies together (and all its dependencies) are published as single https://www.nuget.org/packages/Froto.TypeProvider/ package

[2019-08-19 06:28] ctaggart commented on #110
Okay, I’ll unlist it.

[2019-08-19 08:51] ctaggart commented on #110
I helped add support for GitHub Actions to GitVersioning and this is working now. Fixed in #113

[2019-08-19 08:51] #110 closed

[2019-08-19 08:59] ctaggart opened #114 "new maintainer please"
With 0.7 shipped, I think it is a good time to look for new project ownership. I am not using this project at work where there is very little chance of switching away from openapi defined json web services to gRPC. For personal projects, I've switched to Rust because of its web assembly support, async support, and a variety of other reasons.

@jhugard, you've contributed most of the current parser

[2019-08-19 10:21] takemyoxygen commented on #114
I'm not using F# nor protocol buffers on a daily basis, so I don't want to be an owner of this repo.
I guess, transferring it to `fsprojects` is a good idea.

[2019-08-23 17:04] jhugard commented on #114
TBH, I'm not using Froto, either.  Built the parser and serializer for a proof-of-concept a few years ago, but nothing moved forward with the project.  I've just been hopping in to fix big issues as they occur...

[2019-10-02 10:11] cboudereau commented on #114
Hi,
I think having only a TP for protobuf messages as DTO is ok but adding a real grpc client is a very hot topic for now : https://docs.microsoft.com/en-us/aspnet/core/grpc/aspnetcore?view=aspnetcore-3.0&tabs=visual-studio

I am also interested in having a grpc client (ie : https://grpc.io/docs/tutorials/basic/csharp/ a generated code as opposed to a TP) for fsharp or maybe for csharp (if we prod

[2019-11-13 21:57] RicoSuter opened #115 "Parse error when optional/required/repeated is missing"
The following grpc proto file fails to be parsed:

[code]

(from: https://grpc.io/docs/tutorials/basic/web/)

[code]

Seems that the froto parser requires optional/required/repeated because this works:

[code]

[2019-11-22 16:22] jhugard commented on #115
Have you tried specifying proto3 syntax at the top of the file?

[code]

https://developers.google.com/protocol-buffers/docs/proto3

[2019-11-22 16:42] RicoSuter commented on #115
Yes this was it - thank you very much. Do you know what the default is for gRPC? proto3 or proto2? It seems that gRPC assumes proto3 (they dont specify it) and here the default is proto2.

[2019-11-22 16:42] #115 closed, assigned to nobody

[2019-11-25 05:44] jhugard commented on #115
Not sure what gRPC defaults to, but based on the above the protoc compiler should be defaulting to proto2.

[2020-10-07 11:22] #97 closed

[2021-06-06 02:48] AlexeyRaga opened #116 "Support for proto3?"
Are there plans for supporting `proto3` in a type provider?

BTS, I see that `froto` was last changed >2 years ago. Is this project alive? Or has it been superseded by something else?

[2021-06-06 16:18] jhugard commented on #106
@vilinski The commit above was included in release 0.7.2.  Can you verify the change worked, so that this issue can be closed?

[2021-06-06 16:26] jhugard commented on #116
@AlexeyRaga See #114 - the project is looking for a new maintainer.
You might want to look at https://github.com/jet/falanx/, which uses some of the Froto libraries to generate Proto3 code (rather than injecting a type provider).  IDK how well maintained that project is, however.

[2021-06-07 09:30] vilinski commented on #106
sorry, waited for falanx updates it's deps.

Falanx 0.6.0 still doesn't work with actual `PulsarApi.proto` with the parser bug on the same line.

[code]

But type provider works without errors.

[code]

so not a Froto issue anymore.
Rather falanx still does not include the changes (09.04.2020)

[2021-06-07 09:30] #106 closed

[2022-01-21 12:12] 64J0 commented on #114
Any update on this?